$yellowgreen: #9acd32;
$reef: #cdfeaa;
$verdun-green: #265301;
$bilbao: #437a16;
$lochmara: #0073bb;

p {
  @include gel-typography('body-copy');
}

blockquote {
  border-left: 2px solid #888888;
  padding-left: em-spacing(base-spacing-unit);
  margin: 0 0 0 em-spacing(half-spacing-unit);
  background: #E6E6E6;

  p {
    padding: em-spacing(half-spacing-unit);
  }
}

a {
  outline: none;
  text-decoration: none;
  // padding: 2px 1px 0;

  &:active {
    color: $reef;
  }

  &:link {
    color: $verdun-green;
  }

  &:visited {
    color: $bilbao;
  }

  &:focus {
    outline-color: $yellowgreen;
    outline-style: solid;
    outline-width: 1px;
  }

  &:hover {
    color: $lochmara;
    text-decoration: underline;
  }
}

.em-module {
  // something here
}

.em-module__content {
  margin: 0 auto;
  max-width: $gel-grid-max-width-1280;
  padding: em-spacing(quad-spacing-unit) em-spacing(base-spacing-unit);
  position: relative;
}

@include mq($from: $gel-grid-margin-change) {
  .em-module__content {
    padding: em-spacing(quad-spacing-unit) em-spacing(double-spacing-unit);
  }
}
