p {
    @include gel-typography('body-copy');
}

.em-module__content {
    padding: em-spacing(quad-spacing-unit) em-spacing(base-spacing-unit);
    position: relative;
    margin: 0 auto;
    max-width: $gel-grid-max-width-1280;
}

@include mq($from: $gel-grid-margin-change) {
  .em-module__content {
    padding: em-spacing(quad-spacing-unit) em-spacing(double-spacing-unit);
  }
}
