.em-footer {
    background: #d7d7d7;
    color: #999999;
}

.em-footer-contact .em-module__content,
.em-footer .em-module__content {
    padding-top: em-spacing(quad-spacing-unit);
    padding-bottom: em-spacing(quad-spacing-unit);
}

.em-footer-contact {
    background: #f0f0f0;
    color: #666666;
}

.em-contacts-info_heading {
    @include gel-typography('great-primer');
}

.em-footer-info-addresses a {
    color: #666666;
    text-decoration: underline;
}

.em-contacts-info__email-heading,
.em-contacts-info__tel-heading,
.em-contacts-info__address-heading,
.em-contacts-info__address-get-direction {
    @include gel-typography('pica');
    padding: em-spacing(base-spacing-unit) 0 em-spacing(half-spacing-unit);
}

.em-contacts-info__email-heading,
.em-contacts-info__tel-heading,
.em-contacts-info__address-heading {
    font-weight: bold;
}

.em-footer-navigation-copyright {
    padding: em-spacing(triple-spacing-unit) 0;
}

.em-footer-info-addresses,
.em-footer-nav-menu__items,
.em-footer-copyright-details {
    @include gel-typography('body-copy');
}

.em-footer-nav-menu__items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.em-footer-nav-menu__item {
    display: inline-block;
}

.em-footer-nav-menu__item-link {
    display: inline-block;
    padding: 0 em-spacing(base-spacing-unit) 0 0;
    color: #777777;
    text-decoration: none;
    width: 100%;
}

.em-footer-nav-menu__item-link,
.em-footer-copyright-details {
    min-height: $size-of-human-thumb;
    line-height: $size-of-human-thumb;
}

@include mq($until: em-bp-s) {
    .em-footer-nav-menu__item {
        width: 50%;
    }
}