.em-post-category-banner {
  background: transparent no-repeat center center fixed;
  background-size: cover;
  display: block;
  position: relative;

  &::after {
    background: #f5f5f5 no-repeat center center fixed;
    background-size: cover;
    bottom: 0;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    opacity: 0.5;
    position: absolute;
  }
}

.em-post-category-banner__title-wrapper {
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  color: #265301;
  transform: skew(-20deg);
}

.em-post-category-banner__title {
  transform: skew(20deg);
  padding: em-spacing(base-spacing-unit);
}
