.em-social-links {
  background: #9e9e9e;
  color: #fefefe;
}

.em-social-links a:link {
    color: #fefefe;
}

.em-social-links-nav__item {
  text-align: center;
}

.em-social-links-icon {
  display: block;
  font-size: 2em;
}
