---
title: The Eccles and Salford Islāmic Society
layout: base
permalink: /
---

<div class="inner cover">
    <h1 class="em-canon-bold">{{ site.subtitle }}</h1>
    <p class="lead">Jazakum Allahu Khair, for visiting <strong>{{ site.title }}</strong> website.</p>
    <p>We are in the process of re-launching our site very soon. In shāʾallāh.</p>

    <ul class="post-list">
        {% for post in site.posts %}
        <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
        </li>
        {% endfor %}
    </ul>

    {% include prayer-timetable-download-button.html %}

</div>
