{% if site.navigation.footer %}
<!--<section class="em-module em-footer-nav">-->
  <!--<div class="em-module__content">-->
    
      <nav class="em-footer-nav-menu">
        <ul class="em-footer-nav-menu__items">
          {% for nav in site.navigation.footer %}
          <li class="em-footer-nav-menu__item em-footer-nav-menu__item--{{ nav.title | slugify}}">
            <a class="em-footer-nav-menu__item-link em-footer-nav-menu__item-link--{{ nav.title | slugify}} {% if page.url == nav.url %}em-footer-nav-menu__item-link--curent{% endif %}" href="{{ nav.url }}">{{ nav.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    
  <!--</div>-->
<!--</section>-->
{% endif %}