{% for event in site.events limit:1 %}

{% assign poster = site.data.images | where: "id", event.poster | first %}

{% if poster %}
<style>.em-events-hero::after { background-image: url({{poster.url}}); }</style>
<meta itemprop="image" content="{{poster.url}}" />
{% endif %}

<section class="em-module em-events-hero">
  <div class="em-module__content">
    <div class="em-events-hero-content-wrapper" itemscope itemtype="http://schema.org/Event">
      <div class="em-events-hero-content">
        <h2 class="em-events-hero-title em-canon" itemprop="name">
          <a class="em-events-hero-title__link" href="{{event.url}}" title="Find out more about {{ event.title }}">{{ event.title }}</a>
        </h2>

        <p class="em-events-hero-excerpt">{{ event.excerpt | strip_html }}</p>
        
        <p class="event-date" itemprop="startDate" content="{{ event.startDate }}">Door Opens: {{ event.startDate | date: "%I:%M %P on %A, %d %B %Y" }}</p>

        <a href="{{event.url}}" itemprop="url" class="em-button em-button-primary em-button-xlarge" title="Find out more about {{ event.title }}">More information</a>

      </div>
    </div>
  </div>
</section>

{% endfor %}
