.posts .mastfoot,
.posts .masthead {
    position: static;
    margin-bottom: 0;
}
.post-content {
    text-align: left;
}
.post {
    padding: 0 16px;
    margin: 0 auto;
    max-width: 768px;
}
.post-list {
    display: block;
    padding: 0;
}
.post-list li {
    list-style: none;
}
blockquote {
  border-left: 6px solid rgba(255, 255, 255, 0.5);
  padding-left: 16px;
}
blockquote p {
  font-weight: bold;
}
